In [119]:
import pandas as pd
import requests
import json
from pprint import pprint
from datetime import datetime, timedelta
from api_keys import api_key

In [71]:
crashes_data = pd.read_csv('Crashes_in_DC.csv', low_memory=False)
crashes_data.head()

,X,Y,OBJECTID,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,STREETSEGID,...,NEARESTINTROUTEID,NEARESTINTSTREETNAME,OFFINTERSECTION,INTAPPROACHDIRECTION,LOCATIONERROR,LASTUPDATEDATE,MPDLATITUDE,MPDLONGITUDE,MPDGEOX,MPDGEOY
0,-77.035760,38.931394,84408359,25165944,14159567,2014-10-16T05:00:00.000Z,11068902,1573.378,0.00000,9732.0,...,11070392,PINE ST NW,17.786350,Southeast,NaN,NaN,NaN,NaN,NaN,NaN
1,-77.048800,38.908240,84408360,26651327,10176429,2010-12-08T05:00:00.000Z,11002202,1465.478,0.00000,13058.0,...,11065842,O ST NW,36.825488,South,NaN,NaN,NaN,NaN,NaN,NaN
2,-77.016451,38.904792,84408361,27612522,18040153,2018-03-12T14:03:30.000Z,11064672,701.879,10.34334,7453.0,...,11000402,4TH ST NW,27.518016,Southwest,NaN,NaN,38.928240,-77.019329,NaN,NaN
3,-76.983641,38.864912,84408362,24641662,13085861,2013-06-23T05:00:00.000Z,13001502,1527.658,0.00000,6700.0,...,13088462,V ST SE,27.044306,North,NaN,NaN,38.864876,-76.983481,NaN,NaN
4,-76.984066,38.884111,84408363,27263103,17051952,2017-03-31T03:53:04.000Z,13026912,2420.722,0.00000,7627.0,...,13001502,15TH ST SE,38.672600,West,NaN,NaN,38.883957,-76.984064,401337.5,135121.19

In [72]:
crash_details = pd.read_csv('Crash_Details_Table.csv', low_memory=False)
crash_details.head()

,OBJECTID,CRIMEID,CCN,PERSONID,PERSONTYPE,AGE,FATAL,MAJORINJURY,MINORINJURY,VEHICLEID,INVEHICLETYPE,TICKETISSUED,LICENSEPLATESTATE,IMPAIRED,SPEEDING
0,173581893,27885549,18209160,87847959,Driver,55,N,N,N,4306306,Passenger Car/automobile,N,DC,N,N
1,173581894,27885844,18209454,87847985,Driver,0,N,N,N,4306270,Passenger Car/automobile,Y,DC,N,N
2,173581895,27885926,18209500,87847998,Driver,25,N,N,Y,4306319,Passenger Car/automobile,Y,MD,N,N
3,173581896,27886042,18209514,87848009,Driver,38,N,N,N,4306328,Passenger Car/automobile,Y,MD,N,N
4,173581897,27885046,18209064,87848061,Driver,49,N,N,N,4306267,Passenger Car/automobile,N,MD,N,N

In [83]:
merged_data = crashes_data.merge(crash_details, on='CRIMEID', how='left')
merged_data.columns

Index(['X', 'Y', 'OBJECTID_x', 'CRIMEID', 'CCN_x', 'REPORTDATE', 'ROUTEID',
       'MEASURE', 'OFFSET', 'STREETSEGID', 'ROADWAYSEGID', 'FROMDATE',
       'TODATE', 'MARID', 'ADDRESS', 'LATITUDE', 'LONGITUDE', 'XCOORD',
       'YCOORD', 'WARD', 'EVENTID', 'MAR_ADDRESS', 'MAR_SCORE',
       'MAJORINJURIES_BICYCLIST', 'MINORINJURIES_BICYCLIST',
       'UNKNOWNINJURIES_BICYCLIST', 'FATAL_BICYCLIST', 'MAJORINJURIES_DRIVER',
       'MINORINJURIES_DRIVER', 'UNKNOWNINJURIES_DRIVER', 'FATAL_DRIVER',
       'MAJORINJURIES_PEDESTRIAN', 'MINORINJURIES_PEDESTRIAN',
       'UNKNOWNINJURIES_PEDESTRIAN', 'FATAL_PEDESTRIAN', 'TOTAL_VEHICLES',
       'TOTAL_BICYCLES', 'TOTAL_PEDESTRIANS', 'PEDESTRIANSIMPAIRED',
       'BICYCLISTSIMPAIRED', 'DRIVERSIMPAIRED', 'TOTAL_TAXIS',
       'TOTAL_GOVERNMENT', 'SPEEDING_INVOLVED', 'NEARESTINTROUTEID',
       'NEARESTINTSTREETNAME', 'OFFINTERSECTION', 'INTAPPROACHDIRECTION',
       'LOCATIONERROR', 'LASTUPDATEDATE', 'MPDLATITUDE', 'MPDLONGITUDE',
       'MPDGEOX', 'MPDGEOY', 'OBJECTID_y', 'CCN_y', 'PERSONID', 'PERSONTYPE',
       'AGE', 'FATAL', 'MAJORINJURY', 'MINORINJURY', 'VEHICLEID',
       'INVEHICLETYPE', 'TICKETISSUED', 'LICENSEPLATESTATE', 'IMPAIRED',
       'SPEEDING'],
      dtype='object')

In [84]:
merged_data['WARD'].value_counts()

Ward 2    104513
Ward 5     68547
Ward 6     65980
Ward 7     53684
Ward 8     44199
Ward 1     40582
Ward 4     38989
Ward 3     29486
Null        3808
Name: WARD, dtype: int64

In [94]:
non_dc_fatalities = merged_data[(merged_data['WARD']=='Null') & (merged_data['FATAL']=='Y') ]
non_dc_fatalities

Empty DataFrame
Columns: [X, Y, OBJECTID_x, CRIMEID, CCN_x, REPORTDATE, ROUTEID, MEASURE, OFFSET, STREETSEGID, ROADWAYSEGID, FROMDATE, TODATE, MARID, ADDRESS, LATITUDE, LONGITUDE, XCOORD, YCOORD, WARD, EVENTID, MAR_ADDRESS, MAR_SCORE, MAJORINJURIES_BICYCLIST, MINORINJURIES_BICYCLIST, UNKNOWNINJURIES_BICYCLIST, FATAL_BICYCLIST, MAJORINJURIES_DRIVER, MINORINJURIES_DRIVER, UNKNOWNINJURIES_DRIVER, FATAL_DRIVER, MAJORINJURIES_PEDESTRIAN, MINORINJURIES_PEDESTRIAN, UNKNOWNINJURIES_PEDESTRIAN, FATAL_PEDESTRIAN, TOTAL_VEHICLES, TOTAL_BICYCLES, TOTAL_PEDESTRIANS, PEDESTRIANSIMPAIRED, BICYCLISTSIMPAIRED, DRIVERSIMPAIRED, TOTAL_TAXIS, TOTAL_GOVERNMENT, SPEEDING_INVOLVED, NEARESTINTROUTEID, NEARESTINTSTREETNAME, OFFINTERSECTION, INTAPPROACHDIRECTION, LOCATIONERROR, LASTUPDATEDATE, MPDLATITUDE, MPDLONGITUDE, MPDGEOX, MPDGEOY, OBJECTID_y, CCN_y, PERSONID, PERSONTYPE, AGE, FATAL, MAJORINJURY, MINORINJURY, VEHICLEID, INVEHICLETYPE, TICKETISSUED, LICENSEPLATESTATE, IMPAIRED, SPEEDING]
Index: []

[0 rows x 68 columns]

In [96]:
fatalities_filter = merged_data[merged_data['FATAL']=='Y']
fatalities_filter.head()

fatalities = fatalities_filter[[
    'REPORTDATE','AGE', 'WARD', 'FATAL_BICYCLIST', 'FATAL_DRIVER', 'FATAL_PEDESTRIAN', 'IMPAIRED', 'TOTAL_VEHICLES',
    'TOTAL_BICYCLES', 'TOTAL_PEDESTRIANS', 'PEDESTRIANSIMPAIRED', 'BICYCLISTSIMPAIRED', 'DRIVERSIMPAIRED',
    'LATITUDE', 'LONGITUDE']]

fatalities['WARD'].value_counts()

Ward 7    41
Ward 2    36
Ward 5    34
Ward 6    25
Ward 8    22
Ward 1    18
Ward 4    15
Ward 3     4
Name: WARD, dtype: int64

In [97]:
fatalities.head()

,REPORTDATE,AGE,WARD,FATAL_BICYCLIST,FATAL_DRIVER,FATAL_PEDESTRIAN,IMPAIRED,TOTAL_VEHICLES,TOTAL_BICYCLES,TOTAL_PEDESTRIANS,PEDESTRIANSIMPAIRED,BICYCLISTSIMPAIRED,DRIVERSIMPAIRED,LATITUDE,LONGITUDE
3226,2018-03-25T08:58:06.000Z,41.0,Ward 4,0,0,1,Y,1,0,1,1,0,0,38.938678,-77.032572
4013,2019-04-08T10:39:06.000Z,37.0,Ward 8,0,2,0,N,4,0,0,0,0,0,38.863976,-76.995102
4014,2019-04-08T10:39:06.000Z,53.0,Ward 8,0,2,0,N,4,0,0,0,0,0,38.863976,-76.995102
5708,2015-08-19T05:00:00.000Z,0.0,Ward 6,0,1,0,N,2,0,0,0,0,0,38.899204,-76.982370
6360,2015-08-16T05:00:00.000Z,0.0,Ward 5,0,1,0,N,2,0,0,0,0,0,38.908803,-77.003748

In [152]:
sunrise_list = []
sunset_list = []
weather_list = []

In [153]:
url = "http://api.openweathermap.org/data/2.5/weather?"
unit = "imperial"

# Work with 4 rows of data.
subset = fatalities[fatalities['AGE'] == 37]

# Determine weather / sunset related to crashes
for row, items in subset.iterrows():
    lat = items[13]
    lon = items[14]
    
    query_url = f"{url}APPID={api_key}&units={unit}&q=&lat={lat}&lon={lon}"
    response = requests.get(query_url).json()

    if 'sunrise' not in response['sys']:
        sunrise_value = 0
    else:
        sunrise_value = response['sys']['sunrise']
    sunrise_list.append(sunrise_value)
    
    if 'sunset' not in response['sys']:
        sunset_value = 0
    else:
        sunset_value = response['sys']['sunset']
    sunset_list.append(sunset_value)
    
    weather_list = response['weather'][0]['description']

In [154]:
subset['SUNRISE'] = sunrise_list
subset['SUNSET']  = sunset_list
subset['WEATHER'] = weather_list
subset

C:\Users\Carol\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Carol\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Carol\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,REPORTDATE,AGE,WARD,FATAL_BICYCLIST,FATAL_DRIVER,FATAL_PEDESTRIAN,IMPAIRED,TOTAL_VEHICLES,TOTAL_BICYCLES,TOTAL_PEDESTRIANS,PEDESTRIANSIMPAIRED,BICYCLISTSIMPAIRED,DRIVERSIMPAIRED,LATITUDE,LONGITUDE,SUNRISE,SUNSET,WEATHER
4013,2019-04-08T10:39:06.000Z,37.0,Ward 8,0,2,0,N,4,0,0,0,0,0,38.863976,-76.995102,1555496928,1555544758,broken clouds
213877,2016-01-03T11:36:32.000Z,37.0,Ward 7,0,0,1,N,1,0,1,0,0,0,38.885996,-76.955891,1555496916,1555544751,broken clouds
314011,2011-02-12T05:00:00.000Z,37.0,Ward 4,0,1,0,N,2,0,0,0,0,0,38.955098,-77.036404,1555496930,1555544776,broken clouds
437877,2009-01-12T05:00:00.000Z,37.0,Ward 6,0,1,0,N,2,0,0,0,0,0,38.886901,-77.013953,1555496928,1555544763,broken clouds

In [ ]:
# Convert unix timestamp to actual time.
# sunrise_list.append(datetime.fromtimestamp(response['sys']['sunrise']) - timedelta(hours=2)).strftime('%Y-%m-%d %H:%M:%S')
# sunset_list.append(datetime.fromtimestamp(response['sys']['sunset']) - timedelta(hours=2)).strftime('%Y-%m-%d %H:%M:%S')

# Determine whether crash occurred during the day (between sunrise and sunset) or after sunset and before sunrise.

In [88]:
num_driver_fatalities = fatalities[fatalities['FATAL_DRIVER']!=0].FATAL_DRIVER.count()
print(f"# Driver Fatalities: {num_driver_fatalities}")     

num_pedestrian_fatalities = fatalities[fatalities['FATAL_PEDESTRIAN']!=0].FATAL_PEDESTRIAN.count()
print(f"# Pedestrian Fatalities: {num_pedestrian_fatalities}")  

num_bicycle_fatalities = fatalities[fatalities['FATAL_BICYCLIST']!=0].FATAL_BICYCLIST.count()
print(f"# Bicycle Fatalities: {num_bicycle_fatalities}")

# Driver Fatalities: 164
# Pedestrian Fatalities: 20
# Bicycle Fatalities: 10

In [89]:
maxdate = fatalities['REPORTDATE'].max()
maxdate

'2019-04-08T10:39:06.000Z'

In [90]:
mindate = fatalities['REPORTDATE'].min()
mindate

'2008-06-10T05:00:00.000Z'